/********** YAPIGAS **************
************ CSS FRAMEWORK *******/
/*15062024*/
/* tags */
  html{
    padding: 10px;
    zoom: var(--Y-zoom);
  }
  body{
    font-family: var(--Y-font-family);
    font-weight: var(--Y-font-weight);
    font-size: var(--Y-font-size);
    color: var(--Y-txt-color);
    background-color: var(--Y-bg-color);
  }
  a{
    color: unset;
    text-decoration: none;
    cursor: pointer;
  }
/*
*/
/* classes */
  .yapi{--Y-yapi:none;}/* classe geral */
  .body{
    font-family: var(--Y-font-family);
    font-weight: var(--Y-font-weight);
    font-size: var(--Y-font-size) !important;
    color: var(--Y-txt-color);
    background-color: var(--Y-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2px;
  }
  .link{
    color: var(--Y-link-color);
    background-color: var(--Y-link-bg-color);
  }
  .circle{
    position: relative;
    border-radius: 50%;
  }
	.yapi .grupo{--Y-yapi:none;}

	/* ----- agrupados ----- */	
  /* cores */
  .cor{color: var(--Y-color);}
  .cor-success{--Y-color: var(--Y-success-color);} /* verde */
  .cor-sky{--Y-color: var(--Y-sky-color);} /* azul */
  .cor-danger{--Y-color: var( --Y-danger-color);} /* vermelho */
  .cor-alert{--Y-color: var(--Y-alert-color);} /* amarelo */
  .cor-info{--Y-color: var(--Y-info-color);} /* ciano */
  .cor-dark{--Y-color: var(--Y-dark-color);} /* cinza muito escuro ou preto */
  .cor-white{--Y-color: var(--Y-white-color);} /* cinza muito claro ou branco */
  .cor-light{--Y-color: var( --Y-light-color);} /* cinza muito claro ou branco */
  .cor-secondary{--Y-color: var(--Y-secondary-color);} /* cinza */
  /* fim cores
  */
  /* background */
  .bg{
    opacity: var(--Y-opacity);
    background-color: var(--Y-bg-color);
  }
  .bg-success{--Y-bg-color: var(--Y-success-color);}/* verde */
  .bg-sky{--Y-bg-color: var(--Y-sky-color);} /* azul */
  .bg-danger{--Y-bg-color: var( --Y-danger-color);} /* vermelho */
  .bg-alert{--Y-bg-color: var(--Y-alert-color);} /* amarelo */
  .bg-info{--Y-bg-color: var(--Y-info-color);} /* ciano */
  .bg-dark{--Y-bg-color: var(--Y-dark-color);} /* cinza muito escuro ou preto */
  .bg-light{--Y-bg-color: var( --Y-light-color);} /* cinza muito claro ou branco */
  .bg-secondary{--Y-bg-color: var(--Y-secondary-color);} /* cinza */
  /* fim background 
	*/  
  /* texto */
  .txt{
    color: var(--Y-txt-color);
    opacity: var(--Y-opacity);
    line-height: var(--Y-line-height);
    letter-spacing: var(--Y-letter-spacing);
    font-weight: var(--Y-font-weight);
    font-size: var(--Y-font-size);
  }
  .txt-success{--Y-txt-color: var(--Y-success-color);}
  .txt-sky{--Y-txt-color: var(--Y-sky-color);}
  .txt-danger{--Y-txt-color: var( --Y-danger-color);}
  .txt-alert{--Y-txt-color: var(--Y-alert-color);}
  .txt-info{--Y-txt-color: var(--Y-info-color);}
  .txt-dark{--Y-txt-color: var(--Y-dark-color);}
  .txt-light{--Y-txt-color: var( --Y-light-color);}
  .txt-secondary{--Y-txt-color: var(--Y-secondary-color);}
  .txt-white{--Y-txt-color: var(--Y-white-color);}

  .txt-ppp{--Y-font-size: var(--Y-tam-ppp);}
  .txt-pp{--Y-font-size: var(--Y-tam-pp);}
  .txt-p{--Y-font-size: var(--Y-tam-p);}
  .txt-m{--Y-font-size: var(--Y-tam-m);}
  .txt-mm{--Y-font-size: var(--Y-tam-mm);}
  .txt-mmm{--Y-font-size: var(--Y-tam-mmm);}
  .txt-g{--Y-font-size: var(--Y-tam-g);}
  .txt-gg{--Y-font-size: var(--Y-tam-gg);}
  .txt-ggg{--Y-font-size: var(--Y-tam-ggg);}

  .txt-thin{--Y-font-weight: 400;}
  .txt-bold, .strong, .negrito{--Y-font-weight: 600;}
  .txt-bolder{--Y-font-weight: 800;}
  /* fim texto 
	*/
  /* opacity */
  .opacity-01{--Y-opacity: 0.10;} /* menos opaco ainda*/
  .opacity-03{--Y-opacity: 0.30;} /* menos opaco */
  .opacity-05{--Y-opacity: 0.50;} /* medio opaco */
  .opacity-07{--Y-opacity: 0.75;} /* mais opaco */
	.opacity-10{--Y-opacity: 1;}     /* opaco */
  /* fim opacity 
	*/

  /* border */
  
  .border{border: var(--Y-border-width) var(--Y-border-style) var(--Y-border-color) !important;}
  .border-dotted{--Y-border-style: dotted;}
  .border-solid{--Y-border-style: solid;}
  .border-dashed{--Y-border-style: dashed;}
  .border-rad{border-radius: var(--Y-border-radius);}
  .border-rad-dir{border-radius: 0 var(--Y-border-radius) var(--Y-border-radius) 0 !important;}
  .border-rad-esq{border-radius: var(--Y-border-radius) 0 0 var(--Y-border-radius) !important;}
  /* fim borders 
	*/
  /* icones */
  .icon, .i{vertical-align: middle;}
  .iA{padding: 0;}/* iA= iconAlone; */
  .iB{/* iB = iconButton; */
    padding: 0 5px 0 0;
    font-size: initial !important;
  }
  .iC{/* iC = iconCampo; */
    padding: 0 8px 0 0;
    font-size: 20px;
  }
  .iT{padding: 0 10px 0 0} /* iT = iconTexto */
  /* fim icones 
	*/
  /* botoes */ 
  .btn{
    --Y-btn-padding-x: var(--Y-padding-x);/* 12px */
    --Y-btn-padding-y: var(--Y-padding-y);/* 6px */
    /* --Y-mini-padding-x: var;/* largura 8px */
    /* --Y-mini-padding-y: calc(0.375rem - 0.225rem);/* altura 2.4px */
    --Y-btn-font-size: 1rem; /* 16px; */
    --Y-btn-font-weight: var(--Y-font-weight);
    --Y-btn-border-radius: 0.375rem; /* 6px */

    color: var(--Y-btn-color)!important;
    background-color: var(--Y-btn-bg-color);
    border: var(--Y-border-width) var(--Y-border-style) var(--Y-btn-border-color);
    display: inline-block;
    padding: var(--Y-btn-padding-y) var(--Y-btn-padding-x);
    font-size: var(--Y-btn-font-size)!important;
    font-weight: var(--Y-font-weight)!important;
    line-height: 1.5;
    text-align: center !important;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    webkit-user-select: none;
    -moz-user-select: none;
    border-radius: var(--Y-btn-border-radius);
		box-shadow: var(--Y-btn-box-shadow);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn:hover,
  .btn:active,
  .btn:focus{
    color: var(--Y-btn-hover-color) !important;
    background-color: var(--Y-btn-hover-bg-color) !important;
    border-color: var(--Y-btn-hover-border-color) !important;
		box-shadow: var(--Y-btn-hover-box-shadow) !important;
  }
  .btn:disabled{
    opacity: 0.6;
    color: var(--Y-btn-color);
    background-color: var(--Y-btn-bg-color);
  }
  .y-btn-dark{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--Y-dgrey-color);
    --Y-btn-border-color: var(--Y-dgrey-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--Y-black-color);
    --Y-btn-hover-border-color: var(--Y-black-color);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-grey{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--Y-grey-color);
    --Y-btn-border-color: var(--Y-grey-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--cor-03);
    --Y-btn-hover-border-color: var(--cor-03);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-lgrey{
    --Y-btn-color: var(--Y-dgrey-color);
    --Y-btn-bg-color: var(--Y-lgrey-color);
    --Y-btn-border-color: var(--Y-lgrey-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: rgba(var(--cor-04-rgb), 0.9);
    --Y-btn-hover-border-color: rgba(var(--cor-04-rgb), 0.9);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-llgrey{
    --Y-btn-color: var(--Y-dgrey-color);
    --Y-btn-bg-color: var(--Y-llgrey-color);
    --Y-btn-border-color: var(--Y-llgrey-color);
    --Y-btn-hover-color: var(--Y-dgrey-color);
    --Y-btn-hover-bg-color: var(--cor-07);
    --Y-btn-hover-border-color: var(--cor-07);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-lllgrey,
  .y-btn-clean{
    --Y-btn-color: var(--cor-03);
    --Y-btn-bg-color: var(--cor-09);
    --Y-btn-border-color: var(--cor-09);
    --Y-btn-hover-color: var(--cor-03);
    --Y-btn-hover-bg-color: var(--cor-08);
    --Y-btn-hover-border-color: var(--cor-08);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-transparent{
    --Y-btn-color: var(--cor-03);
    --Y-btn-bg-color: transparent;
    --Y-btn-border-color: var(--cor-09);
    --Y-btn-hover-color: var(--cor-03);
    --Y-btn-hover-bg-color: var(--Y-btn-bg-color);
    --Y-btn-hover-border-color: var(--cor-09);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
	.y-btn-transparent-white{
	  --Y-btn-color: var(--cor-09);
    --Y-btn-bg-color: transparent;
    --Y-btn-border-color: transparent;
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--Y-btn-bg-color);
    --Y-btn-hover-border-color: var(--Y-btn-border-color);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
	}
  .y-btn-white{
    --Y-btn-color: var(--cor-03);
    --Y-btn-bg-color: var(--Y-white-color);
    --Y-btn-border-color: var(--Y-white-color);
    --Y-btn-hover-color: var(--cor-03);
    --Y-btn-hover-bg-color: var(--cor-09);
    --Y-btn-hover-border-color: var(--cor-09);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-green,
  .y-btn-success{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--Y-green-color);
    --Y-btn-border-color: var(--Y-green-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: rgba(var(--cor-20-rgb), 0.9);
    --Y-btn-hover-border-color: rgba(var(--cor-20-rgb), 0.9);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-lgreen,
  .y-btn-lsuccess{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--Y-lgreen-color);
    --Y-btn-border-color: var(--Y-lgreen-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--cor-22);
    --Y-btn-hover-border-color: var(--cor-22);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-llgreen,
  .y-btn-llsuccess{
    --Y-btn-color: var(--Y-dgreen-color);
    --Y-btn-bg-color: var(--Y-llgreen-color);
    --Y-btn-border-color: var(--Y-llgreen-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--cor-24);
    --Y-btn-hover-border-color: var(--cor-24);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
.y-btn-5lgreen{
	--Y-btn-color: var(--Y-dblue-color);
    --Y-btn-bg-color: #f4f8f7;
    --Y-btn-border-color: #c5e1d9;
    --Y-btn-hover-color: #03c18c;
    --Y-btn-hover-bg-color: #c5e1d9;
    --Y-btn-hover-border-color: #c5e1d9;
    --Y-btn-box-shadow: none;
    --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}
  .y-btn-blue{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--Y-blue-color);
    --Y-btn-border-color: var(--Y-blue-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: rgba(var(--cor-11-rgb), 0.9);
    --Y-btn-hover-border-color: rgba(var(--cor-11-rgb), 0.9);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-lblue{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--Y-lblue-color);
    --Y-btn-border-color: var(--Y-lblue-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: #0054d3;
    --Y-btn-hover-border-color: #0054d3;
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-llblue{
    --Y-btn-color: var(--Y-dblue-color);
    --Y-btn-bg-color: var(--Y-llblue-color);
    --Y-btn-border-color: var(--Y-llblue-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--cor-14);
    --Y-btn-hover-border-color: var(--cor-14);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-uv{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--Y-violet-color);
    --Y-btn-border-color: var(--Y-violet-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--Y-dviolet-color);
    --Y-btn-hover-border-color: var(--Y-dviolet-color);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-yellow,
  .y-btn-alert{
    --Y-btn-color: var(--cor-60);
    --Y-btn-bg-color: var(--Y-yellow-color);
    --Y-btn-border-color: var(--Y-yellow-color);
    --Y-btn-hover-color: var(--cor-60);
    --Y-btn-hover-bg-color: var(--cor-30);
    --Y-btn-hover-border-color: var(--cor-30);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-red,
  .y-btn-danger{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--cor-52);
    --Y-btn-border-color: var(--cor-52);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--Y-red-color);
    --Y-btn-hover-border-color: var(--Y-red-color);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-lred,
  .y-btn-ldanger{
    --Y-btn-color: var(--cor-60);
    --Y-btn-bg-color: var(--Y-lred-color);
    --Y-btn-border-color: var(--Y-lred-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--cor-53);
    --Y-btn-hover-border-color: var(--cor-53);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-magenta{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--Y-majenta-color);
    --Y-btn-border-color: var(--Y-majenta-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--Y-dmajenta-color);
    --Y-btn-hover-border-color: var(--Y-dmajenta-color);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-lmagenta{
    --Y-btn-color: var(--Y-white-color);
    --Y-btn-bg-color: var(--Y-lmajenta-color);
    --Y-btn-border-color: var(--Y-lmajenta-color);
    --Y-btn-hover-color: var(--Y-white-color);
    --Y-btn-hover-bg-color: var(--Y-majenta-color);
    --Y-btn-hover-border-color: var(--Y-majenta-color);
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-cyan,
  .y-btn-info{
    --Y-btn-color: var(--Y-dblue-color);
    --Y-btn-bg-color: var(--Y-cyan-color);
    --Y-btn-border-color: var(--Y-cyan-color);
    --Y-btn-hover-color: var(--Y-dblue-color);
    --Y-btn-hover-bg-color: #73ebfd;
    --Y-btn-hover-border-color: #73ebfd;
		--Y-btn-box-shadow: none;
		--Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
  }
  .y-btn-mini{
    --Y-btn-padding-x: var(--Y-mini-padding-x) !important;
    --Y-btn-padding-y: var(--Y-mini-padding-y) !important;
  }
  .y-btn-mono-hover{
    --Y-btn-hover-color: var(--Y-cor-clara);
    --Y-btn-hover-bg-color: var(--Y-cor-escura);
    --Y-btn-hover-border-color: var(--Y-cor-escura);
		--Y-btn-hover-box-shadow: none;
  }
  .y-btn-mono-hover-2{
    --Y-btn-hover-color: var(--Y-cor-escura);
    --Y-btn-hover-bg-color: var(--Y-cor-clara);
    --Y-btn-hover-border-color: var(--Y-cor-clara);
		--Y-btn-hover-box-shadow: none;
  }
  .y-btn-outline{
    --Y-btn-color: var(--Y-btn-border-color) !important;
    --Y-btn-bg-color: tranparent !important;
  }
  .y-btn-outline-2{
    --Y-btn-color: var(--Y-txt-color) !important;
    --Y-btn-bg-color: tranparent !important;
  }

  .y-btn-circle, 
  .y-btn-rounded{
    --Y-btn-padding-x: 0.6rem !important;
    /* border-radius: 50px; border-radius: 100%; */
    border-radius: 10rem !important;
	vertical-align: initial !important;
  }
  .y-btn-one-char{}
  /*
  .y-btn-one-char-2{/* em dev
    --Y-btn-padding-x: .25em;
    --Y-btn-padding-y: .25em;
    boF-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
  }
  .y-btn-close {/* em dev
    background: var(--Y-btn-bg-color) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  */

  .y-btn-one-char.y-btn-circle,
  .y-btn-one-char.y-btn-rounded{--Y-btn-padding-x: 0.6rem !important;}
  .y-btn-one-char.y-btn-mini{--Y-btn-padding-x: calc(var(--Y-mini-padding-x)*0.75) !important;}
  .y-btn-one-char.form-control{--Y-btn-padding-x: 0 !important;}
  /* fim botoes 
	*/  
  /* formularios */
  .yapi form{
    --Y-form-txt-color:   var(--Y-txt-color);
    --Y-form-bg-color:    var(--Y-white-color);
    
    --Y-form-border-color:  var(--Y-border-color);
    --Y-form-border-radius: 4px;
    --Y-form-border-width:  1px;
    --Y-form-border-style:  solid;
    --Y-form-border-transitions: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    --Y-form-box-shadow:            none;
    --Y-form-focus-border-color:    var(--Y-dblue-color);
    --Y-form-focus-box-shadow:      0 0 2px var(--Y-form-focus-border-color);
    --Y-form-disabled-color:        var(--Y-disabled-color);
    --Y-form-disabled-bg-color:     var(--Y-disabled-bg-color);
    --Y-form-disabled-border-color: var(--Y-disabled-border-color);

    --Y-form-padding-x: 0.75rem;
    --Y-form-padding-y: 0.375rem;
    --Y-form-padding:   var(--Y-form-padding-y) var(--Y-form-padding-x);    

    border-collapse: var(--Y-border-collapse)!important;
    
  }
.yapi form label{
	margin-bottom: 5px;
	line-height: 1.5;
	font-size: inherit;
	color: var(--Y-form-txt-color);
}
  .yapi .form-group{--Y-yapi: none;}
  .yapi .form-control{
    --Y-form-focus-box-shadow: none;
    display: block;
    width: 100%;
    padding: var(--Y-form-padding);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	  margin: auto;
    color: var(--Y-form-txt-color);
    background-color: var(--Y-form-bg-color);
    background-clip: padding-box;
    border: var(--Y-form-border-width) var(--Y-form-border-style) var(--Y-form-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--Y-form-border-radius);
    transition: var(--Y-form-border-transitions);
  }
  .yapi .form-control:disabled{
    cursor: default;
    background-color: var( --Y-form-disabled-bg-color) !important;
    color: var(--Y-form-disabled-color);
    border-color: var(--Y-form-disabled-border-color);
    box-shadow: none !important;
  }
  .yapi .input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border-radius: var(--Y-form-border-radius);
    border-color: var(--Y-form-border-color);
    transition: var(--Y-form-border-transitions);
  }
  .yapi .input-group-text{    
    display: flex;
    align-items: center;
    padding: var(--Y-form-padding);
    font-size: 1rem;
    font-weight: var(--Y-font-weight);
    line-height: 1.5;
    color: var(--Y-form-txt-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--Y-form-bg-color);
    border: var(--Y-form-border-width) var(--Y-form-border-style) var(--Y-form-border-color);
    border-radius: var(--Y-form-border-radius);
  }
  .yapi .input-group>.form-control,
  .yapi .input-group>.form-floating,
  .yapi .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }

  /*** foco do campo */
  .yapi .form-group:focus-within,
  .yapi .input-group:focus-within{  
    --Y-form-focus-box-shadow: none;
    border-color: var(--Y-form-focus-border-color);    
    box-shadow: var(--Y-form-focus-box-shadow);
  }  
  .yapi .input-group .form-control:focus,
  .yapi .input-group .form-control:active,
  .yapi .input-group .form-check-input:focus{
    --Y-form-focus-border-color: transparent;
    border-width: 0 !important;
    box-shadow: none;
    outline: 0;
    border-color: var(--Y-form-focus-border-color);
  }
  .input-group .input-group-text{--Y-yapi:'none';}
  .input-group:focus-within{--Y-yapi:'none';}
  .input-group:focus-within .input-group-text{
    --Y-form-txt-color: var(--Y-white-color);
    --Y-form-bg-color: var(--Y-form-focus-border-color);
    background-color: var(--Y-form-bg-color);
    border-color: var(--Y-form-focus-border-color);
    color: var(--Y-form-txt-color);
  }
  /* s = campos COM borda */
  .yapi .s{
    border: inherit;
  }
  .s .form-group{all: all;}
  .s .form-group:focus-within{--Y-yapi:none;}
  .s .input-group{
    --Y-form-border-color: transparent;
    border: var(--Y-form-border-width) var(--Y-form-border-style) var(--Y-form-border-color);
    border-color: var(--Y-form-border-color);
  }
  .s .input-group:focus-within{--Y-yapi:none;}
  .s .input-group:focus-within .input-group-text{
    --Y-form-bg-color: var(--Y-form-focus-border-color);
  }
  .s .input-group-text{
    --Y-form-bg-color: var(--Y-form-border-color);
  }
  .s .form-control{--Y-yapi:none;}
  .s .form-control:active,
  .s .form-control:focus{
    border-color: var(--Y-form-focus-border-color);    
    box-shadow: var(--Y-form-focus-box-shadow);
  }

  /* n = campos SEM borda */
  .yapi .n{
    --Y-form-txt-color:   var(--Y-txt-color);
    --Y-form-bg-color:    var(--Y-white-color);
    
    /*--Y-form-border-color:  transparent;*/
    --Y-form-border-radius: 0;
    --Y-form-border-width:  0;
    --Y-form-border-style:  solid;

    --Y-form-box-shadow:            none;
    --Y-form-focus-box-shadow:      none;
    --Y-form-disabled-color:        var(--Y-disabled-color);
    --Y-form-disabled-bg-color:     transparent;
    --Y-form-disabled-border-color: transparent;

    border: none;
  }
  .n .form-group{--Y-yapi:none;}
  .n .input-group{
    --Y-form-border-width: 1px;
    --Y-form-border-color:  inherit;
    border-bottom: var(--Y-form-border-width) var(--Y-form-border-style) var(--Y-form-border-color);
  }
  .n .input-group:focus-within{--Y-yapi:none;}
  .n .input-group:focus-within .input-group-text{
    --Y-form-txt-color: inherit;
    --Y-form-bg-color: transparent;
    background-color: var(--Y-form-bg-color);
    border-color: var(--Y-form-focus-border-color);
    color: var(--Y-form-txt-color);
  }
  .n .input-group-text{--Y-form-bg-color: tranparent;}
  .n .form-control{--Y-yapi:none;}
  /* fim formularios
	*/
  /* modals */
  .modal{
    --Y-modal-color: var(--Y-txt-color);
    --Y-modal-bg-color: var(--Y-bg-color);
    --Y-modal-backdrop-color: var(--Y-backdrop-color);
  }
  .modal-header{border-bottom: transparent;}
  .modal-content{
    color: var(--Y-modal-color);
    background-color: var(--Y-modal-bg-color, --Y-white-color);
    border-radius: var(--Y-border-radius);
    border: inherit;
  }
  .modal-backdrop,
  .offcanvas-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Y-backdrop-color);
  }
  .modal-backdrop.show,
  .offcanvas-backdrop.show{opacity: var(--Y-backdrop-opacity);}
  /* fim modals
	*/
  /* spinner */
  .spinner{--Y-yapi:none;}
	.modal-spinner{
    --Y-modal-bg-color: var(--Y-spinner-bg-color);
    --Y-modal-color: var(--Y-spinner-color);
    border: none;
    width: fit-content;
    margin: auto;
  }
  /* fim spinner 
	*/
  /* requerido */
  .required{--Y-yapi:none;}
  .required .required-color{
		color: var(--Y-invalid-color);
	}
  /* fim requerido 
	*/
  
/*
*/
/* ids */
/*
*/
/*----------------------------------------*/
/* helpers - classes acessórias*/
  .d-flex{display: flex !important;}
  .hide,.hidden{display: none !important;}
  .show,.shown{display: inicial;}
  .not-valid, invalid, .error{color: var(--Y-invalid-color) !important;}
  .no-input-style{
    background: transparent !important;
    border: none !important;
  }
  .no-bg{
    --Y-bg-color: transparent;
    background: transparent !important;
  }
  .no-color, .transparent{color: transparent !important;}
  .no-border{border: none !important;}
  .no-border-radius{border-radius: 0!important;}
  .border-transp{border-color: transparent !important;}
/* fim helpers */
/*----------------------------------------*/
/* anime */
  .yapi .y-animate{
    --Y-animation-duration: 0.8s;
    --Y-animation-delay: 0s;
    --Y-animation-count: infinite;
    --Y-animation-fill-mode: both;
    --Y-animation-direction: normal;
    --Y-animation-timing-function: linear;
    display: inline-block;
  }
  .rotate-center{
	  /* -webkit-animation: rotate-center 0.8s linear infinite both;
	  animation: rotate-center 0.8s linear infinite both; */
    
    -webkit-animation-name: rotate-center;
            animation-name: rotate-center;
    -webkit-animation-duration: var(--Y-animation-duration, 1s);
            animation-duration: var(--Y-animation-duration, 1s);
    -webkit-animation-iteration-count: var(--Y-animation-count, infinite);
            animation-iteration-count: var(--Y-animation-count, infinite);
    -webkit-animation-timing-function: var(--Y-animation-timing-function, linear);
            animation-timing-function: var(--Y-animation-timing-function, linear);
    -webkit-animation-delay: var(--Y-animation-delay, 0s);
            animation-delay: var(--Y-animation-delay, 0s);
    -webkit-animation-direction: var(--Y-animation-direction, normal);
            animation-direction: var(--Y-animation-direction, normal);
  }
  /**
  * ----------------------------------------
  * animation rotate-center
  * ----------------------------------------
  */
  @-webkit-keyframes rotate-center{
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center{
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
/* fim anime */
/*----------------------------------------*/
