/********** YAPIGAS **************
************ CSS FRAMEWORK *******/
/*29012025*/
/*----------------------------------------*/
/* tags
/*----------------------------------------*/
html {
  padding: 10px;
  zoom: var(--Y-zoom);
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/*----------------------------------------*/
/* classes
/*----------------------------------------*/
/* classe geral */
.yapi {
  /* esta classe deve ser declarada na tag html ou body */
  --Y-yapi: none;
}

.yapi.body,
.yapi body {
  font-family: var(--Y-font-family);
  font-weight: var(--Y-font-weight);
  font-size: var(--Y-font-size);
  color: var(--Y-txt-color);
  background-color: var(--Y-bg-color);
  background-size: cover;
}

.link {
  color: var(--Y-link-color);
  background-color: var(--Y-link-bg-color);
}

.circle {
  position: relative;
  border-radius: 50%;
}

.yapi .grupo {
  --Y-yapi: none;
}

/*----------------------------------------*/
/* zoom
/*----------------------------------------*/
.z-90 {
  --Y-zoom: 90%;
}

.z-85 {
  --Y-zoom: 85%;
}

.z-80 {
  --Y-zoom: 80%;
}

.z-75 {
  --Y-zoom: 75%;
}

/*----------------------------------------*/
/* icons
/*----------------------------------------*/
.icon {
  font-size: var(--Y-icon-size);
  display: inline-block;
}

.iA {
  /* iA= iconAlone; */
  padding: 0 !important;
}

.iB {
  /* iB = iconButton; */
  padding: 0 5px 0 0 !important;
}

.iBA {
  /* iBA = iconButtonAlone*/
  padding: 0 3px;
}

.iC {
  /* iC = iconCampo; */
  padding: 0 8px 0 0 !important;
}

.iT {
  /* iT = iconTexto */
  padding: 0 10px 0 0 !important;
}

.icon-size-inherit {
  --Y-icon-size: inherit !important;
}

.icon-size-initial {
  --Y-icon-size: initial !important;
}

.icon-size-10 {
  --Y-icon-size: 10px;
}

.icon-size-12 {
  --Y-icon-size: 12px;
}

.icon-size-14 {
  --Y-icon-size: 12px;
}

.icon-size-15 {
  --Y-icon-size: 15px;
}

.icon-size-16 {
  --Y-icon-size: 16px;
}

.icon-size-18 {
  --Y-icon-size: 18px;
}

.icon-size-20 {
  --Y-icon-size: 20px;
}

.icon-size-25 {
  --Y-icon-size: 25px;
}

.icon-size-30 {
  --Y-icon-size: 30px;
}

.icon-size-35 {
  --Y-icon-size: 35px;
}


/*----------------------------------------*/
/* cores
/*----------------------------------------*/
.cor {
  --Y-txt-color: var(--Y-color);
  color: var(--Y-color);
}

.no-color {
  --Y-color: transparent;
  color: var(--Y-color) !important;
}

/* ff branco ----------------------------------------*/
.cor.cor-white {
  --Y-color: var(--Y-white-color);
}

/* 00 preto ----------------------------------------*/
.cor.cor-black {
  --Y-color: var(--Y-black-color);
}

/* 01 cinza ----------------------------------------*/
.cor.cor-secondary,
.cor.cor-grey {
  --Y-color: var(--Y-secondary-color);
}

/* cinza muito escuro */
.cor.cor-dark,
.cor.cor-dgrey {
  --Y-color: var(--Y-dark-color);
}

/* cinza muito claro*/
.cor.cor-light,
.cor.cor-lgrey {
  --Y-color: var(--Y-light-color);
}

/* 10 azul ----------------------------------------*/
.cor.cor-sky,
.cor.cor-blue {
  --Y-color: var(--Y-blue-color);
  /*11*/
}

.cor.cor-dsky,
.cor.cor-dblue {
  --Y-color: var(--Y-dblue-color);
  /*10*/
}

.cor.cor-lsky,
.cor.cor-lblue {
  --Y-color: var(--Y-lblue-color);
}

/* 20 verde ----------------------------------------*/
.cor.cor-success,
.cor.cor-green {
  --Y-color: var(--Y-green-color);
  /*21*/
}

.cor.cor-dsuccess,
.cor.cor-dgreen {
  --Y-color: var(--Y-dgreen-color);
  /*20*/
}

.cor.cor-lsuccess,
.cor.cor-lgreen {
  --Y-color: var(--Y-lgreen-color);
  /*23*/
}

/* 30 amarelo ----------------------------------------*/
.cor.cor-alert,
.cor.cor-yellow {
  --Y-color: var(--Y-yellow-color);
  /*32*/
}

.cor.cor-dalert,
.cor.cor-dyellow {
  --Y-color: var(--Y-cor-30);
}

.cor.cor-lalert,
.cor.cor-lyellow {
  --Y-color: var(--Y-cor-33);
}

/* 40 orange ----------------------------------------*/
.cor.cor-orange {
  --Y-color: var(--cor-41);
}

.cor.cor-dorange {
  --Y-color: var(--cor-40);
}

.cor.cor-lorange {
  --Y-color: var(--cor-42);
}

/* 50 vermelho ----------------------------------------*/
.cor.cor-danger,
.cor.cor-red {
  --Y-color: var(--Y-red-color:);
}

.cor.cor-ddanger,
.cor.cor-dred {
  --Y-color: var(--Y-dred-color:);
}

.cor.cor-ldanger,
.cor.cor-lred {
  --Y-color: var(--Y-lred-color:);
}

/* 60 marrom ----------------------------------------*/
.cor.cor-brown {
  --Y-color: var(--cor-61);
}

.cor.cor-dbrown {
  --Y-color: var(--cor-60);
}

.cor.cor-lbrown {
  --Y-color: var(--cor-63);
}

/* ciano ----------------------------------------*/
.cor.cor-info,
.cor.cor-cyan {
  --Y-color: var(--Y-cyan-color);
}

/* violeta ----------------------------------------*/
.cor.cor-violet,
.cor.cor-uv {
  --Y-color: var(--Y-violet-color);
}

.cor.cor-dviolet,
.cor.cor-duv {
  --Y-color: var(--Y-dviolet-color);
}

.cor.cor-lviolet,
.cor.cor-luv {
  --Y-color: var(--Y-lviolet-color);
}

/* magenta ----------------------------------------*/
.cor.cor-majenta {
  --Y-color: var(--Y-majenta-color);
}

.cor.cor-dmajenta {
  --Y-color: var(--Y-dmajenta-color);
}

.cor.cor-lmajenta {
  --Y-color: var(--Y-lmajenta-color);
}

/*----------------------------------------*/
/* backgrounds
/*----------------------------------------*/
.bg {
  --Y-txt-color: var(--Y-bg-txt-color);
  opacity: var(--Y-opacity);
  background-color: var(--Y-bg-color);
  color: var(--Y-bg-txt-color);
}

.bg.no-bg,
.y-badge.no-bg {
  --Y-bg-color: transparent;
  --Y-bg-txt-color: initial;
  background: transparent !important;
}

/* ff branco ----------------------------------------*/
.bg.bg-white,
.y-badge.bg-white {
  --Y-bg-color: var(--Y-white-color);
  --Y-bg-txt-color: var(--Y-dgrey-color);
}

/* 00 preto e cinza ---------------------------------*/
.bg.bg-black,
.y-badge.bg-black {
  --Y-bg-color: var(--Y-black-color);
  --Y-bg-txt-color: var(--Y-white-color);
}

.bg.bg-dark,
.bg.bg-dgrey,
.y-badge.bg-dark,
.y-badge.bg-dgrey {
  --Y-bg-color: var(--cor-02);
  --Y-bg-txt-color: var(--Y-white-color);
}

.bg.bg-secondary,
.bg.bg-grey,
.y-badge.bg-secondary,
.y-badge.bg-grey {
  --Y-bg-color: var(--cor-04);
  --Y-bg-txt-color: var(--cor-01);
}

.bg.bg-light,
.bg.bg-lgrey,
.y-badge.bg-light,
.y-badge.bg-lgrey {
  --Y-bg-color: var(--cor-06);
  --Y-bg-txt-color: var(--cor-01);
}

.bg.bg-llgrey,
.y-badge.bg-llgrey {
  --Y-bg-color: var(--Y-llgrey-color);
  --Y-bg-txt-color: var(--Y-dgrey-color);
}

.bg.bg-lllgrey,
.y-badge.bg-lllgrey {
  --Y-bg-color: var(--Y-lllgrey-color);
  --Y-bg-txt-color: var(--Y-dgrey-color);
}

/* 10 azul ----------------------------------------*/
.bg.bg-sky,
.bg.bg-blue,
.y-badge.bg-sky,
.y-badge.bg-blue {
  --Y-bg-color: var(--cor-12);
  --Y-bg-txt-color: var(--Y-white-color);
}

.bg.bg-lblue,
.y-badge.bg-lblue {
  --Y-bg-color: var(--Y-lblue-color);
  --Y-bg-txt-color: var(--Y-white-color);
}

.bg.bg-llblue,
.y-badge.bg-llblue {
  --Y-bg-color: var(--Y-llblue-color);
  --Y-bg-txt-color: var(--Y-blue-color);
}

/* 20 verde ----------------------------------------*/
.bg.bg-success,
.bg.bg-green,
.y-badge.bg-success,
.y-badge.bg-green {
  --Y-bg-color: var(--cor-22);
  --Y-bg-txt-color: var(--Y-white-color);
}

.bg.bg-lgreen,
.y-badge.bg-lgreen {
  --Y-bg-color: var(--cor-24);
  --Y-bg-txt-color: var(--cor-20);
}

.bg.bg-llgreen,
.y-badge.bg-llgreen {
  --Y-bg-color: var(--Y-llgreen-color);
  --Y-bg-txt-color: var(--Y-green-color);
}

/* 30 amarelo ----------------------------------------*/
.bg.bg-alert,
.bg.bg-warning,
.bg.bg-yellow,
.y-badge.bg-alert,
.y-badge.bg-warning,
.y-badge.bg-yellow {
  --Y-bg-color: var(--cor-32);
  --Y-bg-txt-color: var(--cor-60);
}

.bg.bg-lyellow,
.y-badge.bg-lyellow {
  --Y-bg-color: var(--cor-33);
  --Y-bg-txt-color: var(--cor-60);
}

.bg.bg-llyellow,
.y-badge.bg-llyellow {
  --Y-bg-color: var(--cor-34);
  --Y-bg-txt-color: var(--cor-62);
}

/* 40 orange ----------------------------------------*/
.bg.bg-orange,
.y-badge.bg-orange {
  --Y-bg-color: var(--cor-43);
  --Y-bg-txt-color: var(--Y-white-color);
}

.bg.bg-lorange,
.y-badge.bg-lorange {
  --Y-bg-color: var(--cor-44);
  --Y-bg-txt-color: var(--cor-60);
}

.bg.bg-llorange,
.y-badge.bg-llorange {
  --Y-bg-color: rgba(var(--cor-44-rgb), 0.7);
  --Y-bg-txt-color: var(--cor-60);
}

/* 50 vermelho ----------------------------------------*/
.bg.bg-dred,
.y-badge.bg-dred {
  --Y-bg-color: var(--cor-50);
  --Y-bg-txt-color: var(--Y-white-color);
}

.bg.bg-danger,
.bg.bg-red,
.y-badge.bg-danger,
.y-badge.bg-red {
  --Y-bg-color: var(--cor-51);
  --Y-bg-txt-color: var(--Y-white-color);
}

.bg.bg-lred,
.y-badge.bg-lred {
  --Y-bg-color: var(--cor-54);
  --Y-bg-txt-color: var(--cor-50);
}

.bg.bg-llred,
.y-badge.bg-llred {
  --Y-bg-color: rgba(var(--cor-54-rgb), 0.7);
  --Y-bg-txt-color: var(--cor-50);
}

/* 60 marrom ----------------------------------------*/
.bg.bg-brown,
.y-badge.bg-brown {
  --Y-bg-color: rgba(var(--cor-64-rgb), 0.7);
  --Y-bg-txt-color: var(--cor-60);
}

/* ciano ----------------------------------------*/
.bg.bg-info,
.bg.bg-cyan,
.y-badge.bg-info,
.y-badge.bg-cyan {
  --Y-bg-color: var(--Y-cyan-color);
  --Y-bg-txt-color: var(--Y-blue-color);
}

.bg.bg-lcyan,
.y-badge.bg-lcyan {
  --Y-bg-color: var(--Y-lcyan-color);
  --Y-bg-txt-color: var(--Y-blue-color);
}

.bg.bg-llcyan,
.y-badge.bg-llcyan {
  /* iguala cyan*/
  --Y-bg-color: rgba(var(--Y-lcyan-color-rgb), 0.7);
  ;
  --Y-bg-txt-color: var(--Y-blue-color);
}

/* violeta ----------------------------------------*/
.bg.bg-violet,
.bg.bg-uv,
.y-badge.bg-violet,
.y-badge.bg-uv {
  --Y-bg-color: var(--Y-lviolet-color);
  --Y-bg-txt-color: var(--Y-dviolet-color);
}

/* majenta ----------------------------------------*/
.bg.bg-majenta,
.y-badge.bg-majenta {
  --Y-bg-color: var(--Y-lmajenta-color);
  --Y-bg-txt-color: var(--Y-dmajenta-color);
}

/*----------------------------------------*/
/* badge
/*----------------------------------------*/
.y-badge {
  /* o bagde deve ser usado em div, com a classe bg-[cor]
  /*O texto deve vir em um elemento filho com classe txt. um <span class="txt"> por exemplo
  */
  --Y-line-height: 1;
  --Y-txt-color: var(--Y-bg-txt-color);
  --Y-badge-padding-y: 0.3rem;
  --Y-badge-padding-x: 0.3rem;
  --Y-bagde-bg-color: var(--Y-bg-color);
  --Y-badge-txt-color: var(--Y-bg-txt-color);
  --Y-badge-font-size: inherit;
  --Y-badge-opacity: var(--Y-opacity);

  opacity: var(--Y-badge-opacity);
  background: var(--Y-bagde-bg-color);
  padding: var(--Y-badge-padding-y) var(--Y-badge-padding-x);
  border-radius: var(--Y-border-radius);
  color: var(--Y-badge-txt-color);
  font-size: var(--Y-badge-font-size);
  text-align: center;
  line-height: 0.5;
  white-space: nowrap;
  vertical-align: baseline;
  display: inline-block;
}

.y-badge.badge {/*padrão*/
  --Y-badge-padding-y: 0.3rem !important;
  --Y-badge-padding-x: 0.3rem !important;
  --Y-badge-font-size: inherit;
}

.y-badge.badge-sm {
  --Y-badge-padding-y: 0.125rem !important;
  --Y-badge-padding-x: 0.25rem !important;
  --Y-badge-font-size: 11px;
}

.y-badge.badge-m {
  --Y-badge-padding-y: .25rem !important;
  --Y-badge-padding-x: .5rem !important;
  --Y-badge-font-size: inherit;
  /*padding: .25rem .5rem !important;*/
}

.y-badge.badge-lg {
  --Y-badge-padding-y: 0.625rem !important;
  --Y-badge-padding-x: var(--Y-badge-padding-y) !important;
  --Y-badge-font-size: inherit;
}

.y-badge.badge-xl {
  --Y-badge-padding-y: 1rem !important;
  --Y-badge-padding-x: var(--Y-badge-padding-y) !important;
  --Y-badge-font-size: inherit;
}

/*----------------------------------------*/
/* rotacionar
/*----------------------------------------*/
.rotate {
  -webkit-transform: rotate(var(--Y-rotate-angle, 0));
  transform: rotate(var(--Y-rotate-angle, 0));
}

.rotate-45 {
  --Y-rotate-angle: 45deg;
}

.rotate-90 {
  --Y-rotate-angle: 90deg;
}

.rotate-120 {
  --Y-rotate-angle: 120deg;
}

.rotate-180 {
  --Y-rotate-angle: 180deg;
}

.flip-both {
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.flip-h {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-v {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

/* requerido ----------------------------------------*/
.required {
  color: var(--Y-required-color);
  background-color: var(--Y-required-bg-color);
}

.required.required-txt {
  --Y-required-color: var(--Y-error-color);
}

.required.required-bg {
  --Y-required-bg-color: var(--Y-error-bg-color);
}

.required.required-color {
  --Y-required-color: var(--Y-error-color);
  --Y-required-bg-color: var(--Y-error-bg-color);
}

/*----------------------------------------*/
/* texto
/*----------------------------------------*/
.txt {
  color: var(--Y-txt-color);
  opacity: var(--Y-opacity);
  line-height: var(--Y-line-height);
  letter-spacing: var(--Y-letter-spacing);
  font-weight: var(--Y-font-weight);
  font-size: var(--Y-font-size);
}

.txt-color-inherit {
  --Y-txt-color: inherit !important;
}

.txt-color-initial {
  --Y-txt-color: initial !important;
}

/* transform e decoration --------------------*/
.txt-uppercase {
  text-transform: uppercase;
}

.txt-lowercase {
  text-transform: lowercase;
}

.txt-undeline {
  text-decoration: underline;
}

/* line-height ------------------------------*/
.txt-line-1 {
  --Y-line-height: 1;
  line-height: var(--Y-line-height);
}

.txt-line-12 {
  --Y-line-height: 1.2;
  line-height: var(--Y-line-height);
}

.txt-line-15 {
  --Y-line-height: 1.5;
  line-height: var(--Y-line-height);
}

/* 00 branco preto e cinza -------------------*/
.txt-white {
  --Y-txt-color: var(--Y-white-color);
}

.txt-black {
  --Y-txt-color: var(--Y-black-color);
}

.txt-secondary,
.txt-grey {
  --Y-txt-color: var(--Y-secondary-color);
}

.txt-dark,
.txt-dgrey {
  --Y-txt-color: var(--Y-dark-color);
}

.txt-light,
.txt-lgrey {
  --Y-txt-color: var(--Y-light-color);
}

/* 10 azul ------------------------------------------*/
.txt-sky,
.txt-blue {
  --Y-txt-color: var(--Y-sky-color);
}

/* 20 verde ----------------------------------------*/
.txt-success,
.txt-green {
  --Y-txt-color: var(--Y-success-color);
}

/* 30 amarelo ------------------------------------*/
.txt-alert,
.txt-yellow {
  --Y-txt-color: var(--Y-alert-color);
}

/* 40 orange -------------------------------------*/
.txt-orange {
  --Y-txt-color: var(--cor-40);
}

/* 50 vermelho ----------------------------------*/
.txt-danger,
.txt-red {
  --Y-txt-color: var(--Y-danger-color);
}

/* 60 marrom ------------------------------------*/
.txt-brown {
  --Y-txt-color: var(--cor-60);
}

/* ciano -------------------------------------------*/
.txt-info,
.txt-cyan {
  --Y-txt-color: var(--Y-cyan-color);
}

/* violeta -----------------------------------------*/
.txt-violet,
.txt-uv {
  --Y-txt-color: var(--Y-violet-color);
}

/* majenta ---------------------------------------*/
.txt-majenta {
  --Y-txt-color: var(--Y-majenta-color);
}

/**/
/* font-weight -----------------------------------*/
.txt-thin {
  --Y-font-weight: 200 !important;
}

.txt-normal {
  --Y-font-weight: 400 !important;
}

.txt-bold,
.strong,
.negrito {
  --Y-font-weight: 600 !important;
}

.txt-bolder {
  --Y-font-weight: 800 !important;
}

/* para usar sem .txt */
.fw-thin {
  --Y-font-weight: 200;
  font-weight: var(--Y-font-weight);
}

.fw-normal {
  --Y-font-weight: 400;
  font-weight: var(--Y-font-weight);
}

.fw-bold {
  --Y-font-weight: 600;
  font-weight: var(--Y-font-weight);
}

.fw-bolder {
  --Y-font-weight: 800;
  font-weight: var(--Y-font-weight);
}

/* font-size ----------------------------------------*/
.txt-ppp {
  --Y-font-size: var(--Y-tam-ppp);
}

.txt-pp,
.txt-xsm {
  --Y-font-size: var(--Y-tam-ppp);
}

.txt-p,
.txt-sm {
  --Y-font-size: var(--Y-tam-p);
}

.txt-m,
.txt-md {
  --Y-font-size: var(--Y-tam-m);
}

.txt-mm {
  --Y-font-size: var(--Y-tam-mm);
}

.txt-mmm {
  --Y-font-size: var(--Y-tam-mmm);
}

.txt-g,
.txt-lg {
  --Y-font-size: var(--Y-tam-g);
}

.txt-gg,
.txt-xl {
  --Y-font-size: var(--Y-tam-gg);
}

.txt-ggg,
.txt-xxl {
  --Y-font-size: var(--Y-tam-ggg);
}

/* para usar sem .txt */
.fs-inherit {
  --Y-font-size: inherit;
  font-size: var(--Y-font-size) !important;
}

.fs-initial {
  --Y-font-size: initial;
  font-size: var(--Y-font-size) !important;
}

.fs-ppp {
  --Y-font-size: var(--Y-tam-ppp);
  font-size: var(--Y-font-size) !important;
}

.fs-pp,
.fs-xsm {
  --Y-font-size: var(--Y-tam-pp);
  font-size: var(--Y-font-size) !important;
}

.fs-p,
.fs-sm {
  --Y-font-size: var(--Y-tam-p);
  font-size: var(--Y-font-size) !important;
}

.fs-m,
.fs-md {
  --Y-font-size: var(--Y-tam-m);
  font-size: var(--Y-font-size) !important;
}

.fs-mm {
  --Y-font-size: var(--Y-tam-mm);
  font-size: var(--Y-font-size) !important;
}

.fs-mmm {
  --Y-font-size: var(--Y-tam-mmm);
  font-size: var(--Y-font-size) !important;
}

.fs-g,
.fs-lg {
  --Y-font-size: var(--Y-tam-g);
  font-size: var(--Y-font-size) !important;
}

.fs-gg,
.fs-xl {
  --Y-font-size: var(--Y-tam-gg);
  font-size: var(--Y-font-size) !important;
}

.fs-ggg,
.fs-xxl {
  --Y-font-size: var(--Y-tam-ggg);
}

.fs-10 {
  --Y-font-size: 0.625rem;
  font-size: var(--Y-font-size) !important;
}

.fs-12 {
  --Y-font-size: 0.75rem;
  font-size: var(--Y-font-size) !important;
}

.fs-13 {
  --Y-font-size: 0.8125rem;
  font-size: var(--Y-font-size) !important;
}

.fs-14 {
  --Y-font-size: 0.875rem;
  font-size: var(--Y-font-size) !important;
}

.fs-15 {
  --Y-font-size: 0.9375rem;
  font-size: var(--Y-font-size) !important;
}

.fs-16 {
  --Y-font-size: 1rem;
  font-size: var(--Y-font-size) !important;
}

.fs-17 {
  --Y-font-size: 1.0625rem;
  font-size: var(--Y-font-size) !important;
}

.fs-18 {
  --Y-font-size: 1.125rem;
  font-size: var(--Y-font-size) !important;
}

.fs-19 {
  --Y-font-size: 1.1875rem;
  font-size: var(--Y-font-size) !important;
}

.fs-20 {
  --Y-font-size: 1.25rem;
  font-size: var(--Y-font-size) !important;
}

.fs-22 {
  --Y-font-size: 1.375rem;
  font-size: var(--Y-font-size) !important;
}

.fs-24 {
  --Y-font-size: 1.5rem;
  font-size: var(--Y-font-size) !important;
}

.fs-25 {
  --Y-font-size: 1.5625rem;
  font-size: var(--Y-font-size) !important;
}

.fs-28 {
  --Y-font-size: 1.75rem;
  font-size: var(--Y-font-size) !important;
}

.fs-30 {
  --Y-font-size: 1.875rem;
  font-size: var(--Y-font-size) !important;
}

.fs-32 {
  --Y-font-size: 2rem;
  font-size: var(--Y-font-size) !important;
}

/*----------------------------------------*/
/* opacidade
/*----------------------------------------*/
.opacity-01 {
  --Y-opacity: 0.10;
}

.opacity-03 {
  --Y-opacity: 0.30;
}

.opacity-05 {
  --Y-opacity: 0.50;
}

.opacity-07 {
  --Y-opacity: 0.75;
}

.opacity-10 {
  --Y-opacity: 1;
}

/*----------------------------------------*/
/* bordas
/*----------------------------------------*/
.border {
  border: var(--Y-border-width) var(--Y-border-style) var(--Y-border-color) !important;
}

.border-1 {
  --Y-border-width: 1px;
}

.border-2 {
  --Y-border-width: 2px;
}

.border-dotted {
  --Y-border-style: dotted;
}

.border-solid {
  --Y-border-style: solid;
}

.border-dashed {
  --Y-border-style: dashed;
}

.border-rad {
  border-radius: var(--Y-border-radius);
}

.border-rad-dir {
  border-radius: 0 var(--Y-border-radius) var(--Y-border-radius) 0 !important;
}

.border-rad-esq {
  border-radius: var(--Y-border-radius) 0 0 var(--Y-border-radius) !important;
}

.no-border {
  border: none !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.border-transp {
  border-color: transparent !important;
}

.border-collapse {
  border-collapse: collapse;
}

/*----------------------------------------*/
/* botoes
/*----------------------------------------*/
.yapi .btn,
.y-btn {
  --Y-btn-padding-x: var(--Y-padding-x);
  --Y-btn-padding-y: var(--Y-padding-y);
  --Y-btn-font-size: 1rem;
  --Y-btn-font-weight: var(--Y-font-weight);
  --Y-btn-border-radius: 0.375rem;

  color: var(--Y-btn-color) !important;
  background-color: var(--Y-btn-bg-color) !important;
  border: var(--Y-border-width) var(--Y-border-style) var(--Y-btn-border-color);
  display: inline-block;
  padding: var(--Y-btn-padding-y) var(--Y-btn-padding-x);
  font-size: var(--Y-btn-font-size) !important;
  font-weight: var(--Y-font-weight) !important;
  line-height: 1.5;
  text-align: center !important;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  webkit-user-select: none;
  -moz-user-select: none;
  border-radius: var(--Y-btn-border-radius);
  box-shadow: var(--Y-btn-box-shadow);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: var(--Y-btn-hover-color) !important;
  background-color: var(--Y-btn-hover-bg-color) !important;
  border-color: var(--Y-btn-hover-border-color) !important;
  box-shadow: var(--Y-btn-hover-box-shadow) !important;
}

.btn:disabled {
  opacity: 0.6;
  color: var(--Y-btn-color) !important;
  background-color: var(--Y-btn-bg-color) !important;
}

/* 00 branco preto e cinza -------------------*/
.y-btn-dark {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--Y-dgrey-color);
  --Y-btn-border-color: var(--Y-dgrey-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--Y-black-color);
  --Y-btn-hover-border-color: var(--Y-black-color);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-grey {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--Y-grey-color);
  --Y-btn-border-color: var(--Y-grey-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--cor-03);
  --Y-btn-hover-border-color: var(--cor-03);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-lgrey {
  --Y-btn-color: var(--Y-dgrey-color);
  --Y-btn-bg-color: var(--Y-lgrey-color);
  --Y-btn-border-color: var(--Y-lgrey-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: rgba(var(--cor-04-rgb), 0.9);
  --Y-btn-hover-border-color: rgba(var(--cor-04-rgb), 0.9);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-llgrey {
  --Y-btn-color: var(--Y-dgrey-color);
  --Y-btn-bg-color: var(--Y-llgrey-color);
  --Y-btn-border-color: var(--Y-llgrey-color);
  --Y-btn-hover-color: var(--Y-dgrey-color);
  --Y-btn-hover-bg-color: var(--cor-07);
  --Y-btn-hover-border-color: var(--cor-07);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-lllgrey,
.y-btn-clean {
  --Y-btn-color: var(--cor-03);
  --Y-btn-bg-color: var(--cor-09);
  --Y-btn-border-color: var(--cor-09);
  --Y-btn-hover-color: var(--cor-03);
  --Y-btn-hover-bg-color: var(--cor-08);
  --Y-btn-hover-border-color: var(--cor-08);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-transparent {
  --Y-btn-color: var(--cor-03);
  --Y-btn-bg-color: transparent;
  --Y-btn-border-color: var(--cor-09);
  --Y-btn-hover-color: var(--cor-03);
  --Y-btn-hover-bg-color: var(--Y-btn-bg-color);
  --Y-btn-hover-border-color: var(--cor-09);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-transparent-white {
  --Y-btn-color: var(--cor-09);
  --Y-btn-bg-color: transparent;
  --Y-btn-border-color: transparent;
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--Y-btn-bg-color);
  --Y-btn-hover-border-color: var(--Y-btn-border-color);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-white {
  --Y-btn-color: var(--cor-03);
  --Y-btn-bg-color: var(--Y-white-color);
  --Y-btn-border-color: var(--Y-white-color);
  --Y-btn-hover-color: var(--cor-03);
  --Y-btn-hover-bg-color: var(--cor-09);
  --Y-btn-hover-border-color: var(--cor-09);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

/* 10 azul ------------------------------------------*/
.y-btn-blue {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--Y-blue-color);
  --Y-btn-border-color: var(--Y-blue-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: rgba(var(--cor-11-rgb), 0.9);
  --Y-btn-hover-border-color: rgba(var(--cor-11-rgb), 0.9);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-lblue {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--Y-lblue-color);
  --Y-btn-border-color: var(--Y-lblue-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: #0054d3;
  --Y-btn-hover-border-color: #0054d3;
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-llblue {
  --Y-btn-color: var(--Y-dblue-color);
  --Y-btn-bg-color: var(--Y-llblue-color);
  --Y-btn-border-color: var(--Y-llblue-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--cor-14);
  --Y-btn-hover-border-color: var(--cor-14);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

/* 20 verde ----------------------------------------*/
.y-btn-green,
.y-btn-success {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--Y-green-color);
  --Y-btn-border-color: var(--Y-green-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: rgba(var(--cor-20-rgb), 0.9);
  --Y-btn-hover-border-color: rgba(var(--cor-20-rgb), 0.9);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-lgreen,
.y-btn-lsuccess {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--Y-lgreen-color);
  --Y-btn-border-color: var(--Y-lgreen-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--cor-22);
  --Y-btn-hover-border-color: var(--cor-22);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-llgreen,
.y-btn-llsuccess {
  --Y-btn-color: var(--Y-dgreen-color);
  --Y-btn-bg-color: var(--Y-llgreen-color);
  --Y-btn-border-color: var(--Y-llgreen-color);
  --Y-btn-hover-color: var(--Y-dgreen-color);
  --Y-btn-hover-bg-color: var(--cor-24);
  --Y-btn-hover-border-color: var(--cor-24);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-lllgreen {
  /*dev*/
  --Y-btn-color: var(--Y-dgreen-color);
  --Y-btn-bg-color: var(--Y-llgreen-color);
  --Y-btn-border-color: var(--Y-llgreen-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--cor-24);
  --Y-btn-hover-border-color: var(--cor-24);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-4lgreen {
  --Y-btn-color: var(--Y-dgreen-color);
  --Y-btn-bg-color: #c5e1d9;
  --Y-btn-border-color: #c5e1d9;
  --Y-btn-hover-color: var(--Y-dgreen-color);
  --Y-btn-hover-bg-color: #9fd8c8;
  --Y-btn-hover-border-color: #9fd8c8;
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

/* 30 amarelo ------------------------------------*/
.y-btn-yellow,
.y-btn-alert {
  --Y-btn-color: var(--cor-60);
  --Y-btn-bg-color: var(--Y-yellow-color);
  --Y-btn-border-color: var(--Y-yellow-color);
  --Y-btn-hover-color: var(--cor-60);
  --Y-btn-hover-bg-color: var(--cor-30);
  --Y-btn-hover-border-color: var(--cor-30);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

/* 40 orange -------------------------------------*/
.y-btn-orange {
  --aDefinir: none;
}

/* 50 vermelho ----------------------------------*/
.y-btn-red,
.y-btn-danger {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--cor-52);
  --Y-btn-border-color: var(--cor-52);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--Y-red-color);
  --Y-btn-hover-border-color: var(--Y-red-color);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-lred,
.y-btn-ldanger {
  --Y-btn-color: var(--cor-60);
  --Y-btn-bg-color: var(--Y-lred-color);
  --Y-btn-border-color: var(--Y-lred-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--cor-53);
  --Y-btn-hover-border-color: var(--cor-53);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

/* 60 marrom ------------------------------------*/
.y-btn-brown {
  --aDefinir: none;
}

/* ciano -------------------------------------------*/
.y-btn-cyan,
.y-btn-info {
  --Y-btn-color: var(--Y-dblue-color);
  --Y-btn-bg-color: var(--Y-cyan-color);
  --Y-btn-border-color: var(--Y-cyan-color);
  --Y-btn-hover-color: var(--Y-dblue-color);
  --Y-btn-hover-bg-color: #73ebfd;
  --Y-btn-hover-border-color: #73ebfd;
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

/* violeta -----------------------------------------*/
.y-btn-uv {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--Y-violet-color);
  --Y-btn-border-color: var(--Y-violet-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--Y-dviolet-color);
  --Y-btn-hover-border-color: var(--Y-dviolet-color);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

/* majenta ---------------------------------------*/
.y-btn-magenta {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--Y-majenta-color);
  --Y-btn-border-color: var(--Y-majenta-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--Y-dmajenta-color);
  --Y-btn-hover-border-color: var(--Y-dmajenta-color);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

.y-btn-lmagenta {
  --Y-btn-color: var(--Y-white-color);
  --Y-btn-bg-color: var(--Y-lmajenta-color);
  --Y-btn-border-color: var(--Y-lmajenta-color);
  --Y-btn-hover-color: var(--Y-white-color);
  --Y-btn-hover-bg-color: var(--Y-majenta-color);
  --Y-btn-hover-border-color: var(--Y-majenta-color);
  --Y-btn-box-shadow: none;
  --Y-btn-hover-box-shadow: var(--Y-btn-box-shadow);
}

/**/

.y-btn-sm,
.y-btn-p,
.y-btn-mini {
  --Y-btn-padding-x: var(--Y-mini-padding-x) !important;
  --Y-btn-padding-y: var(--Y-mini-padding-y) !important;
}

.y-btn-xsm,
.y-btn-pp {
  --Y-btn-padding-x: 0.15rem !important;
  --Y-btn-padding-y: 0.005rem !important;
  --Y-btn-border-radius: 4px;
}

.y-btn-mono-hover {
  --Y-btn-hover-color: var(--Y-cor-clara);
  --Y-btn-hover-bg-color: var(--Y-cor-escura);
  --Y-btn-hover-border-color: var(--Y-cor-escura);
  --Y-btn-hover-box-shadow: none;
}

.y-btn-mono-hover-2 {
  --Y-btn-hover-color: var(--Y-cor-escura);
  --Y-btn-hover-bg-color: var(--Y-cor-clara);
  --Y-btn-hover-border-color: var(--Y-cor-clara);
  --Y-btn-hover-box-shadow: none;
}

.y-btn-outline {
  --Y-btn-color: var(--Y-btn-border-color) !important;
  --Y-btn-bg-color: tranparent !important;
}

.y-btn-outline-2 {
  --Y-btn-color: var(--Y-txt-color) !important;
  --Y-btn-bg-color: tranparent !important;
}

.y-btn-circle,
.y-btn-rounded {
  --Y-btn-padding-x: 0.7rem !important;
  /* border-radius: 50px; border-radius: 100%; */
  border-radius: 10rem !important;
  vertical-align: initial !important;
}

.y-btn-sm.y-btn-circle,
.y-btn-p.y-btn-circle {
  --Y-btn-padding-x: 0.45rem !important;
  --Y-btn-padding-y: 0.16rem !important;
  vertical-align: middle !important;
}

.y-btn-one-char {
  --noValue: none
}

.y-btn-one-char.y-btn-circle,
.y-btn-one-char.y-btn-rounded {
  --Y-btn-padding-x: 0.6rem !important;
}

.y-btn-one-char.y-btn-mini {
  --Y-btn-padding-x: calc(var(--Y-mini-padding-x)*0.75) !important;
}

.y-btn-one-char.form-control {
  --Y-btn-padding-x: 0 !important;
}

/*----------------------------------------*/
/* formulario
/*----------------------------------------*/
.yapi form {
  --Y-form-txt-color: var(--Y-txt-color);
  --Y-form-bg-color: var(--Y-white-color);

  --Y-form-border-color: var(--Y-border-color);
  --Y-form-border-radius: 4px;
  --Y-form-border-width: 1px;
  --Y-form-border-style: solid;
  --Y-form-border-transitions: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  --Y-form-box-shadow: none;
  --Y-form-focus-border-color: var(--Y-dblue-color);
  --Y-form-focus-box-shadow: 0 0 2px var(--Y-form-focus-border-color);
  --Y-form-disabled-color: var(--Y-disabled-color);
  --Y-form-disabled-bg-color: var(--Y-disabled-bg-color);
  --Y-form-disabled-border-color: var(--Y-disabled-border-color);

  --Y-form-padding-x: 0.75rem;
  --Y-form-padding-y: 0.375rem;
  --Y-form-padding: var(--Y-form-padding-y) var(--Y-form-padding-x);

  --Y-form-field-padding-y: 5px;
  --Y-form-field-padding-x: 5px;
  --Y-form-field-border-width: 1px;
  --Y-form-field-border-style: solid;
  --Y-form-field-border-color: #dee2e6;
  --Y-form-field-border-radius: 5px;
  --Y-form-field-border-transitions: .3s ease all;

  --Y-form-field-font-family: 'Quicksand', sans-serif;
  --Y-form-field-font-size: 1rem, var(--Y-font-size);
  --Y-form-field-txt-color: var(--Y-txt-color);
  --Y-form-field-bg-color: #fff;
  --Y-form-field-special-txt-color: var(--Y-dark-color);
  --Y-form-field-special-bg-color: var(--cor-07);

  --Y-form-field-disabled-color: var(--Y-disabled-color);
  --Y-form-field-disabled-bg-color: var(--Y-disabled-bg-color);
  --Y-form-field-disabled-border-color: var(--Y-disabled-border-color);

  --Y-form-field-focus-txt-color: inherit;
  --Y-form-field-focus-bg-color: transparent;
  --Y-form-field-focus-border-color: var(--Y-dblue-color);
  --Y-form-field-focus-box-shadow: 0 0 0 0.01rem rgb(1 62 106 / 99%);
}

.yapi form label {
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: inherit;
  color: var(--Y-form-txt-color);
}

.yapi form .special-field {
  --Y-form-field-bg-color: var(--Y-form-field-special-bg-color) !important;
  border: transparent !important;
  border-radius: var(--Y-border-radius) !important;
  color: var(--Y-form-field-txt-color);
}

.yapi .form-group {
  --Y-yapi: none;
}

/* form-control */
.yapi .form-control {
  display: block;
  margin: auto;
  background-clip: padding-box;
  border: var(--Y-form-field-border-width) var(--Y-form-field-border-style) var(--Y-form-field-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.yapi .form-control:disabled {
  cursor: default;
  background-color: var(--Y-form-disabled-bg-color) !important;
  color: var(--Y-form-disabled-color);
  border-color: var(--Y-form-disabled-border-color);
  box-shadow: none !important;
}

.yapi .form-control,
.yapi .input-group {
  height: inherit;
  line-height: 25px;
  font-size: var(--Y-form-field-font-size);
  width: 100%;
  padding: var(--Y-form-field-padding-y) var(--Y-form-field-padding-x);
  border-width: var(--Y-form-field-border-width);
  border-style: var(--Y-form-field-border-style);
  border-color: var(--Y-form-field-border-color) !important;
  /*border: var(--Y-form-field-border-width) var(--Y-form-field-border-style) var(--Y-form-field-border-color);*/
  border-radius: var(--Y-form-field-border-radius);
  background: var(--Y-form-field-bg-color);
  color: var(--Y-form-field-txt-color);
  font-family: 'Quicksand', sans-serif;
  transition: var(--Y-form-field-border-transitions);
  /**/
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.yapi .input-group .input-group-text {
  --Y-yapi: none;
}

.yapi .input-group-text {
  display: flex;
  align-items: center;
  padding: var(--Y-form-field-padding);
  font-size: 1rem;
  font-weight: var(--Y-font-weight);
  line-height: 1.5;
  color: var(--Y-form-field-txt-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--Y-form-field-bg-color);
  border: var(--Y-form-field-border-width) var(--Y-form-field-border-style) var(--Y-form-field-border-color);
  border-radius: var(--Y-form-field-border-radius);
}

.yapi .input-group>.form-control,
.yapi .input-group>.form-floating,
.yapi .input-group>.form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

/*** foco do campo */
.yapi .form-control:focus,
.yapi .input-group:focus-within {
  color: inherit;
  outline: none;
  border-width: var(--Y-form-field-border-width);
  border-style: var(--Y-form-field-border-style);
  border-color: var(--Y-form-field-focus-border-color) !important;
  outline: 0;
  box-shadow: 0 0 0 0.01rem rgb(1 62 106 / 99%);
}

.yapi .form-group:focus-within,
.yapi .input-group:focus-within {
  --Y-form-field-focus-box-shadow: none;
  border-color: var(--Y-form-field-focus-border-color);
  box-shadow: var(--Y-form-field-focus-box-shadow);
}

.yapi .input-group .form-control:focus,
.yapi .input-group .form-control:active,
.yapi .input-group .form-check-input:focus {
  --Y-form-field-focus-border-color: transparent;
  --Y-form-field-focus-box-shadow: none;
  border-width: 0 !important;
  outline: 0;
  border-color: var(--Y-form-field-focus-border-color);
  box-shadow: var(--Y-form-field-focus-box-shadow);
}

.yapi .input-group:focus-within {
  --Y-yapi: none;
}

.yapi .input-group:focus-within .input-group-text {
  --Y-form-field-txt-color: var(--Y-form-field-focus-txt-color);
  /*--Y-form-field-txt-color: var(--Y-white-color);*/
  --Y-form-field-bg-color: var(--Y-form-field-focus-bg-color);
  /*--Y-form-field-bg-color: var(--Y-form-focus-border-color);*/
  /*background-color: var(--Y-form-field-bg-color);
  border-color: var(--Y-form-focus-border-color);
  color: var(--Y-form-field-txt-color);*/
}

/* floating labels */
.yapi form .form-floating {
  --noValue: none
}

.yapi form .form-floating>.form-control {
  --Y-form-field-padding-y: 1rem;
  --Y-form-field-padding-x: 0.75rem;
}

/******************* ate aqui*/
/* s = campos COM borda */
.yapi .s {
  border: inherit;
}

.s .form-group {
  all: all;
}

.s .form-group:focus-within {
  --Y-yapi: none;
}

.s .input-group {
  --Y-form-border-color: transparent;
  border: var(--Y-form-border-width) var(--Y-form-border-style) var(--Y-form-border-color);
  border-color: var(--Y-form-border-color);
}

.s .input-group:focus-within {
  --Y-yapi: none;
}

.s .input-group:focus-within .input-group-text {
  --Y-form-bg-color: var(--Y-form-focus-border-color);
}

.s .input-group-text {
  --Y-form-bg-color: var(--Y-form-border-color);
}

.s .form-control {
  --Y-yapi: none;
}

.s .form-control:active,
.s .form-control:focus {
  border-color: var(--Y-form-focus-border-color);
  box-shadow: var(--Y-form-focus-box-shadow);
}

/* n = campos SEM borda */
.yapi .n {
  --Y-form-txt-color: var(--Y-txt-color);
  --Y-form-bg-color: transparent;

  /*--Y-form-border-color:  transparent;*/
  --Y-form-border-radius: 0;
  --Y-form-border-width: 0;
  --Y-form-border-style: solid;

  --Y-form-box-shadow: none;
  --Y-form-focus-box-shadow: none;
  --Y-form-disabled-color: var(--Y-disabled-color);
  --Y-form-disabled-bg-color: transparent;
  --Y-form-disabled-border-color: transparent;

  border: none;
}

.n .form-group {
  --Y-yapi: none;
}

.n .input-group {
  --Y-form-border-width: 1px;
  --Y-form-border-color: inherit;
  border-bottom: var(--Y-form-border-width) var(--Y-form-border-style) var(--Y-form-border-color);
}

.n .input-group:focus-within {
  --Y-yapi: none;
}

.n .input-group:focus-within .input-group-text {
  --Y-form-txt-color: inherit;
  --Y-form-bg-color: transparent;
  background-color: var(--Y-form-bg-color);
  border-color: var(--Y-form-focus-border-color);
  color: var(--Y-form-txt-color);
}

.n .input-group-text {
  --Y-form-bg-color: tranparent;
}

.n .form-control {
  --Y-yapi: none;
}

/*----------------------------------------*/
/* campos fora do formulário
/*----------------------------------------*/
.yapi .y-field {
  --Y-field-padding-y: 5px;
  --Y-field-padding-x: 5px;
  --Y-field-border-width: 1px;
  --Y-field-border-style: solid;
  --Y-field-border-color: var(--cor-07);
  --Y-field-border-radius: 5px;
  --Y-field-border-transitions: .3s ease all;
  --Y-field-font-family: 'Quicksand', sans-serif;
  --Y-field-font-size: 1rem, var(--Y-font-size);
  --Y-field-txt-color: var(--Y-txt-color);
  --Y-field-bg-color: var(--Y-bg-color);
  --Y-field-special-txt-color: var(--Y-dark-color);
  --Y-field-special-bg-color: var(--cor-07);
  --Y-field-disabled-color: var(--Y-disabled-color);
  --Y-field-disabled-bg-color: var(--Y-disabled-bg-color);
  --Y-field-disabled-border-color: var(--Y-disabled-border-color);
  --Y-field-focus-txt-color: inherit;
  --Y-field-focus-bg-color: transparent;
  --Y-field-focus-border-color: var(--Y-dblue-color);
  --Y-field-focus-box-shadow: 0 0 0 0.01rem rgb(1 62 106 / 99%);
}

.y-field .field-control {
  height: inherit;
  line-height: 1.5625rem;
  font-size: var(--Y-field-font-size);
  width: 100%;
  padding: var(--Y-field-padding-y) var(--Y-field-padding-x);
  border-width: var(--Y-field-border-width);
  border-style: var(--Y-field-border-style);
  border-color: var(--Y-field-border-color) !important;
  border-radius: var(--Y-field-border-radius);
  background: var(--Y-field-bg-color);
  color: var(--Y-field-txt-color);
  font-family: 'Quicksand', sans-serif;
  transition: var(--Y-field-border-transitions);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.y-field .field-control:focus {
  color: inherit;
  border-width: var(--Y-field-border-width);
  border-style: var(--Y-field-border-style);
  border-color: var(--Y-field-focus-border-color) !important;
  outline: 0;
  box-shadow: var(--Y-field-focus-box-shadow);
}

.y-field .special-field {
  background-color: var(--Y-field-special-bg-color) !important;
  border: transparent !important;
  border-radius: var(--Y-border-radius) !important;
  color: var(--Y-field-txt-color);
}

.y-field.form-floating>.field-control {
  --Y-field-padding-y: 1rem;
  --Y-field-padding-x: 0.75rem;
}

.y-field.form-floating>.form-control:focus,
.y-field.form-floating>.form-control:not(:placeholder-shown),
.y-field.form-floating>.field-control:focus,
.y-field.form-floating>.field-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: .375rem;
}

/*----------------------------------------*/
/* modal
/*----------------------------------------*/
.yapi .modal {
  --Y-modal-color: var(--Y-txt-color);
  --Y-modal-bg-color: var(--Y-white-color);
  --Y-modal-backdrop-color: var(--Y-backdrop-color);
  --Y-modal-backdrop-opacity: var(--Y-backdrop-opacity);
  --Y-modal-backdrop-bg: var(--Y-backdrop-color);
  --Y-modal-min-width: 750px;
  --Y-modal-max-width: fit-content;
}

.yapi .modal-header {
  border-bottom: transparent;
}

.yapi .modal-content {
  color: var(--Y-modal-color);
  background-color: var(--Y-modal-bg-color, --Y-white-color);
  border-radius: var(--Y-border-radius);
  border: inherit;
}

.yapi .modal-backdrop {
  /*fundo do modal */
  background-color: var(--Y-modal-backdrop-bg);
  z-index: 1050;
  /*width: 100%;
  height: 100%;*/
}

/*.yapi .modal-backdrop.show {
  opacity: var(--Y-modal-backdrop-opacity);
}*/

.yapi .modal-backdrop,
.yapi .offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Y-backdrop-color);
}

.yapi .modal-backdrop.show,
.yapi .offcanvas-backdrop.show {
  opacity: var(--Y-backdrop-opacity);
}

/*ajusta o tamanho do modal*/
.modal-full {
  --Y-modal-max-width: none;
}

@media (min-width: 576px) {

  .modal-lg,
  .modal-xl {
    --Y-modal-max-width: var(--Y-modal-min-width);
  }

  .modal-dialog {
    min-width: var(--Y-modal-min-width) !important;
    max-width: var(--Y-modal-max-width);
    margin-right: auto;
    margin-left: auto;
  }
}

@media(min-width: 992px) {

  .modal-lg,
  .modal-xl {
    --Y-modal-max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    --Y-modal-max-width: 1150px;
  }
}

/*----------------------------------------*/
/* spinner
/*----------------------------------------*/
.spinner {
  --Y-yapi: none;
}

.modal-spinner {
  --Y-modal-bg-color: var(--Y-spinner-bg-color);
  --Y-modal-color: var(--Y-spinner-color);
  border: none !important;
  width: fit-content !important;
  height: fit-content !important;
  margin: auto;
  padding: 1rem;
}

.modal-spinner .modal-body {
  padding: 0;
}

/*----------------------------------------*/
/* hint
/*----------------------------------------*/
[class*=hint--]:before {
  content: "";
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  background-color: var(--Y-hint-bg-color) !important;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  z-index: 1000001;
}

[class*=hint--]:after {
  background-color: var(--Y-hint-bg-color) !important;
  color: var(--Y-hint-txt-color) !important;
  padding: 8px 10px;
  font-size: 0.8125rem !important;
  font-family: var(--font-sans-serif);
  font-weight: normal;
  line-height: 1rem;
  border-radius: var(--Y-border-radius) !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border: none;
  text-align: center;
}

.hint--xl {
  --novalue: none
}

.hint--xl:after {
  width: 450px;
  white-space: normal !important;
  word-wrap: normal;
}

.hint--xl.hint--right:after,
.hint--xl.hint--left:after {
  margin-bottom: calc(-1.5*(1rem + 16px) / 2);
}

.yapi .has-hint .form-control {
  padding-right: 1.8rem !important;
  padding-left: 0.75rem;
}

.float-end-hint {
  z-index: 1000;
  left: -0.25rem;
  top: -50%;
}

.hint--top-left:before {
  margin-bottom: -4px;
}

/*----------------------------------------*/
/*icones bootstrap
/*----------------------------------------*/
.bi::before,
[class*=" bi-"]::before,
[class^=bi-]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: var(--Y-font-weight) !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*----------------------------------------*/
/* ids
/*----------------------------------------*/

/*----------------------------------------*/
/* acessórias
/*----------------------------------------*/
.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-grid {
  display: grid !important;
}

.w-fit {
  width: fit-content;
}

.w-min {
  width: min-content;
}

.w-max {
  width: max-content;
}

.hide,
.hidden {
  display: none !important;
}

.show,
.shown {
  display: block;
}

.not-valid,
invalid,
.error {
  color: var(--Y-invalid-color) !important;
}

.no-input-style {
  background: transparent !important;
  border: none !important;
}

/*----------------------------------------*/
/* animate
/*----------------------------------------*/
.yapi .y-animate {
  --Y-animation-duration: 0.8s;
  --Y-animation-delay: 0s;
  --Y-animation-count: infinite;
  --Y-animation-fill-mode: both;
  --Y-animation-direction: normal;
  --Y-animation-timing-function: linear;
  display: inline-block;
}

.rotate-center {
  -webkit-animation-name: rotate-center;
  animation-name: rotate-center;
  -webkit-animation-duration: var(--Y-animation-duration, 1s);
  animation-duration: var(--Y-animation-duration, 1s);
  -webkit-animation-iteration-count: var(--Y-animation-count, infinite);
  animation-iteration-count: var(--Y-animation-count, infinite);
  -webkit-animation-timing-function: var(--Y-animation-timing-function, linear);
  animation-timing-function: var(--Y-animation-timing-function, linear);
  -webkit-animation-delay: var(--Y-animation-delay, 0s);
  animation-delay: var(--Y-animation-delay, 0s);
  -webkit-animation-direction: var(--Y-animation-direction, normal);
  animation-direction: var(--Y-animation-direction, normal);
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.y-spinner-1 {
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  /*#766DF4;*/
  border-radius: 9px;
  --c: radial-gradient(farthest-side, #000 92%, #0000);
  --s: 18px 18px;
  -webkit-mask:
    var(--c) left 4px top 4px,
    var(--c) right 4px top 4px,
    var(--c) right 4px bottom 4px,
    var(--c) left 4px bottom 4px,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: cu4 1.5s infinite;
}

@keyframes cu4 {
  0% {
    -webkit-mask-size: 0 0, 0 0, 0 0, 0 0, auto
  }

  12.5% {
    -webkit-mask-size: var(--s), 0 0, 0 0, 0 0, auto
  }

  25% {
    -webkit-mask-size: var(--s), var(--s), 0 0, 0 0, auto
  }

  37.5% {
    -webkit-mask-size: var(--s), var(--s), var(--s), 0 0, auto
  }

  50% {
    -webkit-mask-size: var(--s), var(--s), var(--s), var(--s), auto
  }

  62.5% {
    -webkit-mask-size: 0 0, var(--s), var(--s), var(--s), auto
  }

  75% {
    -webkit-mask-size: 0 0, 0 0, var(--s), var(--s), auto
  }

  87.5% {
    -webkit-mask-size: 0 0, 0 0, 0 0, var(--s), auto
  }

  100% {
    -webkit-mask-size: 0 0, 0 0, 0 0, 0 0, auto
  }
}

.y-spinner-2 {
  width: 4px;
  height: 4px;
  color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: d1 .5s infinite alternate linear;
}

@keyframes d1 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px
  }

  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px
  }
}

/*----------------------------------------*/
/*----------------------------------------*/
